<li{% if page.title == 'Avatars' %} class="nav-active"{% endif %}><a href="{{ site.baseurl }}components/avatars/">Avatars</a></li>
<li{% if page.title == 'Border radius' %} class="nav-active"{% endif %}><a href="{{ site.baseurl }}components/border-radius/">Border radius</a></li>
<li{% if page.title == 'Buttons' %} class="nav-active"{% endif %}><a href="{{ site.baseurl }}components/buttons/">Buttons</a></li>
<li{% if page.title == 'Depth' %} class="nav-active"{% endif %}><a href="{{ site.baseurl }}components/depth/">Depth</a></li>
<li{% if page.title == 'Modal dialogs' %} class="nav-active"{% endif %}><a href="{{ site.baseurl }}components/modal-dialogs/">Modal dialogs</a></li>
<li{% if page.title == 'Forms' %} class="nav-active"{% endif %}><a href="{{ site.baseurl }}components/forms/">Forms</a></li>
<li{% if page.title == 'Navigation' %} class="nav-active"{% endif %}><a href="{{ site.baseurl }}components/navigation/">Navigation</a></li>
<li{% if page.title == 'Tabs' %} class="nav-active"{% endif %}><a href="{{ site.baseurl }}components/tabs/">Tabs</a></li>
<li{% if page.title == 'Toasts' %} class="nav-active"{% endif %}><a href="{{ site.baseurl }}components/toasts/">Toasts</a></li>
<li{% if page.title == 'Tooltips' %} class="nav-active"{% endif %}><a href="{{ site.baseurl }}components/tooltips/">Tooltips</a></li>
