<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

<!-- <script type="text/javascript" src="https://quizlet.atlassian.net/s/d41d8cd98f00b204e9800998ecf8427e-T/8ur02a/b/23/a44af77267a987a660377e5c46e0fb64/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=en-US&collectorId=31ed8510"></script>

<style media="screen">
  .atlwdg-trigger.atlwdg-SUBTLE {
    left: 32px;
    right: unset;
    bottom: 32px;
    border: 1px solid #eee;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
    background-color: #fff;
    color: #2B58B0!important;
    font-size: 12px;
    padding: 8px 16px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    font-family: 'Hurme Sans 2', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
</style> -->
