/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: var(--ink-300);
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Hurme Sans 2', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background: var(--neutral-100);
    text-rendering: optimizeLegibility;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid var(--neutral-300);
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Custom styles
   ========================================================================== */


/* Headings
 ------------------------- */

h1, h2, h3, h4, h5
.h1, .h2, .h3, .h4, .h5 {
 font-weight: 600;
 color: var(--ink-300);
}

h1, .h1,
h2, .h2 {
 margin-top: var(--xxlarge-spacing);
 margin-bottom: var(--small-spacing);
}
h3, .h3,
h4, .h4 {
 margin-top: 32px;
 margin-bottom: 16px;
}

h5, .h5 {
 margin-top: 24px;
 margin-bottom: 8px;
}

h1:first-child, .h1:first-child,
h2:first-child, .h2:first-child,
h3:first-child, .h3:first-child,
h4:first-child, .h4:first-child,
h5:first-child, .h5:first-child {
  margin-top: 0;
}

h1, .h1 {
 font-size: 44px;
 line-height: 56px;
}

h2, .h2 {
 font-size: 32px;
 line-height: 40px;
}
h3, .h3 {
 font-size: 24px;
 line-height: 32px;
}
h4, .h4 {
 font-size: 20px;
 line-height: 28px;
}

h5, .h5 {
 font-size: 16px;
 line-height: 24px;
}

pre {
  display: block;
  font-size: 12px;
  font-family: SFMono-Medium,SF Mono,Segoe UI Mono,Roboto Mono,Ubuntu Mono,Menlo,Courier,monospace;
  width: auto;
  white-space: pre-wrap;
  font-weight: 500;
  margin: 1em 0;
  background-color: var(--neutral-200);
  border-radius: 4px;
  padding: 24px 40px !important;
}

a,
a:visited {
  color: var(--indigo-400);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

strong {
  font-weight: 500;
}

.logo {
  width: 32px;
  height: 32px;
}

.logo > a,
.logo > a:hover,
.logo > a:visited {
  text-decoration: none;
}

.nav-logo {
  margin-bottom: 32px;
}

h2.sub-head {
  color: var(--ink-200);
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  margin-top: 0;
}

h1.hero-title {
  font-weight: 500;
  font-size: 54px;
  line-height: 1.4;
}

span.heading-border {
  background: var(--neutral-300);
  width: 48px;
  height: 2px;
  display: block;
  margin: var(--xlarge-spacing) 0;
}

.hr {
  background: var(--neutral-300);
  width: 50px;
  height: 2px;
  display: block;
  margin: 24px auto;
  border-radius: 2px;
}


/* Do and don't boxes
------------------------- */

.text-do {
  color: var(--green-400);
}
.text-dont {
  color: var(--coral-400);
}

.line {
  background: var(--neutral-300);
  border-top-left-radius: var(--large-spacing);
  border-top-right-radius: var(--large-spacing);
  height: 4px;
  width: 100%;
  position: relative;
  top: 4px;
}

.text-do + .line {
  background: var(--green-400);
}

.text-dont + .line {
  background: var(--coral-400);
}


/* Body text
 ------------------------- */

p {
  color: var(--ink-200);
  margin: 0 0 16px;
  font-size: 18px;
}


/* Lists
 ------------------------- */

/* Unordered and Ordered lists */

ul,
ol {
  margin: 0 0 24px;
  ul,
  ol {
   margin-bottom: 0;
  }
}


/* Images */

img {
  max-width: 100%;
}

img.home-page {
  box-shadow: 0 2px 8px rgba(0,0,0,.08);
}

img.example-image {
  border-radius: var(--base-spacing);
}

img.example-image-border {
  border: 1px solid var(--neutral-300);
  border-radius: var(--base-spacing);
}


/* Lists */

ol.call-outs {
  margin-bottom: var(--xlarge-spacing);
}

ol.call-outs > li {
  list-style: numbers;
  margin-left: var(--large-spacing);
  margin-bottom: var(--base-spacing);
}

li {
  color: var(--ink-200);
}

/* =================================================
  Tables */

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 32px;
}
thead {
  border-bottom: 2px solid var(--neutral-300);
}
tr {
  border-bottom: 1px solid var(--neutral-300);
}
td,
th {
  border: none;
  padding: 12px 8px;
  text-align: left;
}
th {
  vertical-align: top;
  font-weight: 500;
}
td:first-child,
th:first-child {
  padding-left: 0;
}
td:last-child,
th:last-child {
  padding-right: 0;
}


/* Structure */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

app {
  display: flex;
  flex-direction: row;
  margin: 0;
  align-items: flex-start;
}

#sidebar {
  order: 1;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  width: 260px;
  height: 100vh;
  padding: 48px 0 0 48px;
  position: fixed;
  overflow-y: scroll;
}

#main {
  order: 2;
  position: relative;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.empty-sidebar {
  width: 260px;
  display: invisible;
  height: 100vh;
}

.main-container {
  flex: 1;
  width: 840px;
  margin-top: 112px;
}

.nav-name > li {
  padding-bottom: 8px;
  list-style: none;
}

.nav-name > li > a {
  color: var(--ink-100);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  &:hover {
    color: var(--ink-200);
    text-decoration: none;
  }
}

.nav-name > li.nav-active > a {
  color: var(--indigo-400);
}

.nav-section-header {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: var(--ink-300);
  font-weight: 500;
  font-size: 11px;
  line-height: 20px;
  margin: 0 0 8px 0;
}




/* Cards */

.card {
  display: inline-block;
  position: relative;
  background-color: #fff;
  vertical-align: top;
  text-align: left;
  width: 100%;
  height: 310px;
  margin: 10px 0;
  box-shadow: 0 20px 20px rgba(0,0,0,.07);
  border-radius: 6px;
  white-space: normal;
  -webkit-transition: all 200ms cubic-bezier(.02, .01, .47, 1);
  -moz-transition: all 200ms cubic-bezier(.02, .01, .47, 1);
  transition: all 200ms cubic-bezier(.02, .01, .47, 1);
  color: #4B4F56;
  z-index: 1;
}

.card:hover {
  box-shadow: 0 30px 30px rgba(0,0,0,.12);
  transform: translate(0,-5px);
  transition-delay: 0s !important;
}

.card-top {
  height: 180px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  background: #f5f5f5;
}

.card-body {
  position: relative;
  clear: both;
  float: left;
  overflow: visible;
  padding: 20px;
}

.card-title {
  font-size: 20px;
  font-weight: 500px;
  margin-bottom: 10px;
}

.card-description {
  color: #8b939b;
  font-size: 14px;
}

/* Swatches
================================================================ */

.color-swatch {
  margin: 8px;
  border-radius: 6px;
  background-color: var(--neutral-200);
}

.color-swatch-header {
  position: relative;
  height: 0;
  padding-bottom: 100px;
  border-radius: 6px 6px 0 0;
  border: 1px solid transparent;
}

.color-swatch-body {
  padding: 0 16px 16px 16px;
}
.color-swatch-body > h5 {
  margin-top: 12px;
  margin-bottom: 0px;
}
.color-swatch-table {
  width: 48px;
  height: 48px;
  border-radius: 4px;
  border: 1px solid transparent;
  margin-right: 16px;
  display: inline-block;
}

/* Videos */

.demo-video {
    cursor: pointer;
    position: relative;
    line-height: 0;
}

.demo-video:before {
    background: #000;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: opacity 0.2s;
    opacity: 0;
    border-radius: 5px;
}

.demo-video.demo-video-paused:before {
    background: #000 url('../videos/play.svg') no-repeat center center;
    background-size: 72px 72px;
    opacity: 0.4;
}

.demo-video.demo-video-hover:before {
    background: #000 url('../videos/pause.svg') no-repeat center center;
    background-size: 72px 72px;
    opacity: 0.2;
}

.demo-video > video {
    border-radius: 5px;
    width: 100%;
    height: auto;
}

.youtube-video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.youtube-video iframe,
.youtube-video object,
.youtube-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}




/* ==========================================================================
   iframe content
   ========================================================================== */


.iframe-buttons {
  border: 1px solid var(--neutral-300);
  height: 300px;
  width: 100%;
  margin: 8px 0 32px 0;
}




/* ==========================================================================
   Pagination nav
   ========================================================================== */

.row.pagination-links {
  margin-left: 0;
  margin-right: 0;
}

.pagination-links {
  background: var(--neutral-200);
  border-radius: var(--base-spacing);
  margin: 120px 0 40px 0;

  & > .col {
    padding: 0;
  }

}



a.next-previous-links:hover {
  text-decoration: none;
}

.next,
.previous {
  padding: var(--medium-spacing);
  color: var(--ink-200);
}

.next {
  text-align: right;
}

a.next-previous-links:hover > .next > .title,
a.next-previous-links:hover > .previous > .title {
  color: var(--indigo-400);
}

.title {
  color: var(--ink-300);
  font-weight: 500;
  font-size: 18px;
}

.next > .title {
  margin-right: var(--medium-spacing);
}

.previous > .title {
  margin-left: var(--medium-spacing);
}

.icon-20 {
  display: inline-block;
  margin: -4px 0;
  width: 20px;
  height: 20px;
}

.icon-20-chevron-right {
    background: url('../images/icons/icon-20-right-chevron.png') no-repeat;
    background-size: 100%;
}

.icon-20-chevron-left {
    background: url('../images/icons/icon-20-left-chevron.png') no-repeat;
    background-size: 100%;
}



/* ==========================================================================
   Buttons
   ========================================================================== */

a.btn {
  font-weight: 600;
  line-height: 20px;
  padding: 7px 10px;
  background: var(--neutral-200);
  border: 1px solid;
  border-color: var(--neutral-200);
  border-radius: 4px;
  color: var(--ink-200);
  font-size: 13px;

  &:hover {
    background-color: var(--neutral-200);
    border-color: var(--neutral-200);
    color: var(--ink-200);
    text-decoration: none;
  }
}

.btn-primary {
  background: var(--indigo-400);
  border-color: var(--indigo-400);
  color: var(--neutral-100);

  &:hover {
    // background: darken(0.2);
    // border-color: darken(0.2);
    color: var(--neutral-100);
  }
}

.btn-link {
  color: var(--indigo-400);
  background: rgba(255,255,255,0);
  border-color: rgba(255,255,255,0);

  &:hover {
    background: var(--neutral-200);
    color: var(--indigo-400);
  }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

 @media (max-width: 1100px) {

   .main-container {
     width: 70%;
   }
   .empty-sidebar {
     width: 20%;
   }

 }

 @media (max-width: 699px) {

   .sidebar {
     display: none;
   }

 }
