---
layout: default
section: Components
title: Avatars
previous: Typography
previous-path: foundations/typography
next: Buttons
next-path: components/buttons
---

<h2>{{ page.title }}</h2>

<span class="heading-border"></span>

<p>We use round avatars to quickly identify users on the Quizlet platform. No other entity or container should be expressed in a circular shape to avoid confusion between a user and another object type.</p>

<h3>Usage</h3>

<div class="row">
  <div class="col">
    <table>
      <thead>
        <tr>
          <th width="20%">Name</th>
          <th width="20%">Avatar</th>
          <th>Example usage</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Small - 24px</td>
          <td>
            <div class="avatar avatar-small"></div>
          </td>
          <td>Typeahead menus, meta data on card containers</td>
        </tr>
        <tr>
          <td>Medium - 32px</td>
          <td>
            <div class="avatar avatar-medium"></div>
          </td>
          <td>User profile dropdown menu, or when viewing a list of users in a table (i.e. class members)</td>
        </tr>
        <tr>
          <td>Large - 48px</td>
          <td>
            <div class="avatar avatar-large"></div>
          </td>
          <td>Set page author details</td>
        </tr>
        <tr>
          <td>XLarge - 64px</td>
          <td>
            <div class="avatar avatar-xlarge"></div>
          </td>
          <td>Profile page headers</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<h3>Default user avatars</h3>

<p>TBD</p>

{% include pagination-links.html %}
