---
layout: default
section: Components
title: Avatars
previous: Typography
previous-path: foundations/typography
next: Buttons
next-path: components/buttons
---

<h2>{{ page.title }}</h2>

<span class="heading-border"></span>

<p>We use round avatars to quickly identify users on the Quizlet platform. No other entity or container should be expressed in a circular shape to avoid confusion between a user and another object type.</p>

<h3>Usage</h3>

<div class="row">
  <div class="col">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Avatar</th>
          <th>Usage</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Small</td>
          <td>
            <img src="{{ site.baseurl }}images/avatars/small.jpg" alt="Small avatar example">
          </td>
          <td>For use in typeahead menus, card meta data, or container meta data</td>
        </tr>
        <tr>
          <td>Medium</td>
          <td>
            <img src="{{ site.baseurl }}images/avatars/medium.jpg" alt="Medium avatar example">
          </td>
          <td>For use in the user profile dropdown menu, or when viewing a list of users in a table</td>
        </tr>
        <tr>
          <td>Large</td>
          <td>
            <img src="{{ site.baseurl }}images/avatars/large.jpg" alt="Large avatar example">
          </td>
          <td>For use in profile page headers as the hero</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<h3>Default user avatars</h3>

<p>TBD</p>

{% include pagination-links.html %}
