---
layout: default
section: Components
title: Buttons
previous: Avatars
previous-path: components/avatars
next: Cards
next-path: components/cards
---

<h2>{{ page.title }}</h2>

<span class="heading-border"></span>

<h3>Usage</h3>
<p>Use buttons to trigger actions and links. Buttons can contain a combination of a clear label and an icon while links are always text. Buttons are typically placed throughout your UI &mdash; dialogs, modal windows, forms, and toolbars.</p>

<h3>Types</h3>

<h5>Placeholder example component</h5>
<iframe class="iframe-buttons" src="https://material.io/inline-tools/button/"></iframe>

<h4>Primary button (high emphasis)</h4>
<p>Primary buttons have more emphasis, as they use a color fill to stand out on the page, and are used as the most important action on the page.</p>

<h4>Secondary button (medium emphasis)</h4>
<p>Secondary buttons are used for more emphasis than text buttons but are not the most important action on the page.</p>

<h4>Text button (low emphasis)</h4>
<p>Text buttons are typically used for less important actions.</p>

<h4>Toggle button</h4>
<p>Toggle buttons group a set of actions together using layout and spacing. They’re used when switching between similar view types of content where an icon represents each options. If you’re looking to use labels, the tab component is likely the correct use.</p>

<h4>Icon button</h4>
<p>tktk</p>

<div class="row">
  <div class="col">
    <img src="{{ site.baseurl }}images/pages/img-buttons-emphasis-800.png" alt="Buttons emphasis diagram">
  </div>
</div>

<h3>Anatomy</h3>
<p>tktk: Show all 5 button types as examples with optional icon placement</p>

<h3>Hierarchy</h3>
<h4>Balance obvious, easy, and possible</h4>
<p>A layout should contain a single prominent button that makes it clear that other buttons have less importance in the hierarchy. This high-emphasis button commands the most attention.</p>

<h4>Other buttons</h4>
<p>An app can show more than one button in a layout at a time, so a high-emphasis button can be accompanied by medium- and low-emphasis buttons that perform less important actions. When using multiple buttons, ensure the available state of one button doesn’t look like the disabled state of another.</p>

<h3>Placement</h3>

<h3>Labeling</h3>
<p>Sentence case all the things.</p>

{% include pagination-links.html %}
