---
layout: default
section: Components
title: Depth
previous: Checkboxes
previous-path: components/checkboxes
next: Input fields
next-path: components/input-fields
---

<h2>{{ page.title }}</h2>

<span class="heading-border"></span>

<p>Content</p>

<hr>

<h3>Implementation status</h3>

<div class="status">
  <div class="platform-name">
    <span>Web</span>
  </div>
  {% include status-available.html %}
</div>

<div class="status">
  <div class="platform-name">
    <span>iOS</span>
  </div>
  {% include status-not-started.html %}
</div>

<div class="status">
  <div class="platform-name">
    <span>Android</span>
  </div>
  {% include status-in-progress.html %}
</div>

{% include pagination-links.html %}
