---
layout: default
section: Components
title: Depth
previous: Buttons
previous-path: components/buttons
next: Modal dialogs
next-path: components/modal-dialogs
---

<h2>{{ page.title }}</h2>

<span class="heading-border"></span>
<p>Content</p>

<h3>Implementation</h3>
<div class="row">
  <div class="col">
    <table>
      <thead>
        <tr>
          <th>Platform</th>
          <th>Availability</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Web</td>
          <td>Not started</td>
        </tr>
        <tr>
          <td>iOS</td>
          <td>Not started</td>
        </tr>
        <tr>
          <td>iPadOS</td>
          <td>Not started</td>
        </tr>
        <tr>
          <td>Android</td>
          <td>Not started</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% include pagination-links.html %}
