---
layout: default
section: Components
title: Input fields
previous: Depth
previous-path: components/depth
next: Menus
next-path: components/menus
---

<h2>{{ page.title }}</h2>

<span class="heading-border"></span>

<p>https://material.io/components/text-fields</p>

<hr>

<h3>Implementation status</h3>

<div class="status">
  <div class="platform-name">
    <span>Web</span>
  </div>
  {% include status-not-started.html %}
</div>

<div class="status">
  <div class="platform-name">
    <span>iOS</span>
  </div>
  {% include status-not-started.html %}
</div>

<div class="status">
  <div class="platform-name">
    <span>Android</span>
  </div>
  {% include status-not-started.html %}
</div>

{% include pagination-links.html %}
